html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.d-row::before,
.d-row::after {
  display: table;
  content: " ";
  clear: both;
}
@media only screen and (max-width: 250px) {
    .d-12-col,
    .d-4-col,
    .d-8-col,
    .d-3-col,
    .d-6-col {
      width: 100%;
    }
}


@media only screen and (min-width: 300px) {
  .d-12-col {
    width: 100%;
  }
  .d-6-col {
    width:50%;
  }
  .d-4-col {
    width: 33.3%;
  }
  .d-3-col {
    width: 25%;
  }
  .d-8-col {
    width: 66.67%;
  }
  .d-column {
    float: left;
  }
}
/* Styling */


.d-column {
  border: 1px solid #666;
  background: #445;
  padding: 15px;
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

/*container*/
.d-container{
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1000px;
}

/*menus*/
.d-menu {
  margin-bottom: 15px;
  list-style: none;
  background-color: $bg-white;
  border: 1px solid $gray-300;
  border-radius: 3px;
  height: 50px;
}

/* Standard Headings */
h1{
  font-size: 60px;
  font-family: sans-serif,monospace,cursive;
  
}

h2{
  font-size: 50px;
  font-family: sans-serif,monospace,cursive;
  
}

h3{
  font-size: 40px;
  font-family: sans-serif,monospace,cursive;
  
}

h4{
  font-size: 30px;
  font-family: sans-serif,monospace,cursive;
  
}

h5{
  font-size: 20px;
  font-family: sans-serif,monospace,cursive;
  
}

h6{
  font-size: 10px;
  font-family: sans-serif,monospace,cursive;
}

.d-menu-item {
  position: relative;
  display: block;
  padding: 10px;
  border-bottom: 1px solid;
}
/*button with a link*/
.d-btn-link{
  display: inline-block;
  padding: 0;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  appearance: none;
}

.d-btn-link:hover {
    text-decoration: underline;
  }

/*standad button*/
.d-btn {
  position: relative;
  padding: 2px;
  line-height: 20px;
  vertical-align:inherit;
  cursor: pointer;
}
/* buttons for various usage*/
.d-btn-warning {
  position:relative;
  background-color: red;
  box-sizing: border-box;
  border-color: transparent;
  cursor: pointer;
}

.d-btn-success {
  position:relative;
  background-color: green;
  box-sizing: border-box;
  border-color: transparent;
  cursor: pointer;
}

.d-btn-info {
  position:relative;
  background-color:yellow;
  box-sizing: border-box;
  border-color: transparent;
  cursor: pointer;
}

.d-btn-default {
  position:relative;
  background-color:aliceblue;
  box-sizing: border-box;
  border-color: transparent;
  cursor: pointer;
}

.d-btn-warning {
  position:relative;
  background-color: red;
  box-sizing: border-box;
  border-color: transparent;
  cursor: pointer;
}
/*fancy buttons*/
.d-blue-fancy-btn {
  background-color: transparent;
  border: 1px solid blue;
  color:blue;
}

.d-blue-fancy-btn:hover {
  background-color: transparent;
  border: 1px solid blue;
  color:white;
  background-color: blue;
}

.d-red-fancy-btn {
  background-color: transparent;
  border: 1px solid red;
  color:red;
}

.d-red-fancy-btn:hover {
  background-color: transparent;
  border: 1px solid red;
  color:white;
  background-color: red;
}

.d-green-fancy-btn {
  background-color: transparent;
  border: 1px solid green;
  color:blue;
}

.d-green-fancy-btn:hover {
  background-color: transparent;
  border: 1px solid green;
  color:white;
  background-color: green;
}

.d-black-fancy-btn {
  background-color: transparent;
  border: 1px solid black;
  color:black;
}

.d-black-fancy-btn:hover {
  background-color: transparent;
  border: 1px solid black;
  color:white;
  background-color: black;
}

